/*\.navitems {
	margin-right: 1rem;
}*/

/*login icon styling*/
.right {
    float: right;
    height: 0px;
    padding-right: 15px;
}

.fb-button {
	 max-width:200px;
}

.editFloatingButton {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
    z-index: 100;
}

.progressIndicator {
    margin: 0px;
	top: 50%;
	left: 50%;
    position: fixed;
    z-index: 100;
    transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	/*display: none;*/
}

.profileTextField {
	margin-top: -30px;
}


.header {
	padding-right: 6px; 
    padding-left: 6px;
}

.picBox {
	/*max-width: 50rem;*/
	overflow: hidden;
}

.img-circle {
    /*border-radius: 50%;*/
    vertical-align: middle;
    margin: auto;
    /*width: 300px;*/
    width: 22rem;
    margin-bottom: -30px;
    margin-top: -40px;
    
}

.center {
    text-align:center;
    margin: auto;
}

.left {
    text-align:left;
    margin: auto;
}

.errorMessage {
    padding: 1px;
    background-color: crimson;	
}

.errorMessageEditWindow {
    margin-top: 65px;

}


html {
  font-family: 'Roboto', sans-serif;
}

body {
	margin: 0px;
/*  font-size: 13px;
  line-height: 20px;*/
}

@media (min-width: 0) and (max-width: 768px) { 
	.title {
		font-size: 	18px !important;
		cursor: pointer;
	}

	.menu {

		 
	}

	.tab {
		visibility: visible;
		width: 100%;
    	padding-left: 6px;
    	padding-right: 6px;
	}

	.menuHD {
		visibility: hidden;
		width: 0px;
		height: 0px;
	}

	.container {
		padding-right: 0px; 
	    padding-left: 0px; 
	    padding-top: 140px;
	    max-width: 100%;
	    margin: auto;
	}

	.containerModal {
	    padding-top: 70px;
		position: relative;
	}

	.global--modal-content {
	    width: 100% !important;
	    transform: translate(0, 0) !important;
	    position: absolute !important;
	    top: 0 !important;
	    height: 100vh !important;
	}

	.global--modal-body {
	    padding: 0 !important;
	    max-height: none !important;
	}

	.global--modal-paper {
	    overflow: auto !important;
	    height: 100vh !important;
	}
}

@media (min-width: 769px) {
	.title {
		cursor: pointer;
	}
	.menu {
		height: 74px;
		font-size: 24px;
		float: right !important;
	
	}
	.tab {
		visibility: hidden;
		font-size: 14px;
		float: right !important;
	}
	.menuHD {
		visibility: visible;
		width: 20rem;
	}

	.container {
		padding-right: 12px; 
	    padding-left: 12px; 
	    padding-top: 90px;
	    max-width: 20rem;
	    margin: auto;
	}

	.global--modal-body {
	    padding: 0 !important;
	    border-top: 0px !important;
	    /*max-height: none !important;*/
	}
	.containerModal {
	    padding-top: 70px;
		position: relative;
	}
}